/** -----------------
*   Buttons
*  @usage .btn.btn-style-1
--------------------- */
.btn {
	@include rem("font-size", 14);
	text-transform: uppercase;
	padding: 10px 15px;
	font-family:  $brand_fontbold;
	font-weight: 500;
	border-radius: 5px;
	i {
		margin-left: 5px;
	}
}
.btn-style-1 {
	border: 2px solid $primary_color;
	color: $primary_color;
	-webkit-transition: background 0.3 ease, border 0.3 ease, color 0.3 ease;
	-o-transition: background 0.3 ease, border 0.3 ease, color 0.3 ease;
	transition: background 0.3 ease, border 0.3 ease, color 0.3 ease;


	&:hover,
	&:focus {
		color: #fff;
		border-color: $darkerblue_color;
		background: $darkerblue_color;
	}
}
.btn-style-2 {
	background: $primary_color;
	border: 2px solid $primary_color;
	color: #fff;
	

	&:hover,
	&:focus {
		color: #fff;
		border-color: $darkerblue_color;
		background: $darkerblue_color;
	}
}
.btn-style-3 {
	border: 2px solid $secondary_color;
	background: $secondary_color;
	color: #fff;
	

	&:hover,
	&:focus {
		color: #fff;
		border-color: $darkerblue_color;
		background: $darkerblue_color;
	}
}
.btn-style-4 {
	font-weight: 600;
	color: $darkerblue_color;
	font-family:  $brand_fontbold;
	position: relative;
	padding: 0;

	&:after {
		content: "";
		position: absolute;
		top: 50%;
		right: -90px;
		background: #d5d9de;
		height: 1px;
		width: 80px;
	}
}
.btn-style-5 {
	background: $darkerblue_color;
	color: #fff;
	

	&:hover,
	&:focus {
		color: #fff;
		border-color: $dark_color;
		background: $dark_color;
	}
}

