#sidebar {

	@include min-breakpoint(768) {
		padding-left: 20px;
	}

	form  
	{
		padding: 20px;
		background: #fff;
		-webkit-box-shadow: 0 8px 28px 2px rgb(224, 226, 228);
		        box-shadow: 0 8px 28px 2px rgb(224, 226, 228);
	    border-radius: 5px;
		label {
			display: none;
		}
		.title {
			h2 {
				font-size: 22px;
				text-transform: uppercase;
				text-align: center;
			}
		}
		p {
			margin: 0;
		}
	}

	#menu-social-links {
		a {
			font-size: 3em;
		}
	}
	.form-con {
		background: #fff;
		-webkit-box-shadow: 0 8px 28px 2px rgb(224, 226, 228);
		        box-shadow: 0 8px 28px 2px rgb(224, 226, 228);
		.top-bar {
			padding: 15px 10px;
			background: $primary_color;
			color: #fff;
			text-align: center;

			h3 {
				line-height: 1;
				margin: 0;
				color: #fff;
			}
		}
		p {
			margin: 0;
		}
		img {
			margin: 0;
		}
		input {
			border: 1px solid #ddd;
		}
		button {
			background: $secondary_color !important;
			font-size: 13px !important;
			font-weight: 300;
			padding: 15px 10px !important;
			margin: 0 !important;

			&:hover,
			&:focus {
				cursor: pointer;
				background: $darkerblue_color !important;
			}
		}
		form {
			-webkit-box-shadow: none;
			        box-shadow: none;
		}
	}

}